@model MVC.Models.Person

<div class="personContainer row personListItem">

    <div>
        <h4>@Model.Id</h4>
    </div>

    <div>
        <h4>@Model.Name</h4>
    </div>

    <div>
        <h4>@Model.PhoneNumber</h4>
    </div>

    <div>
        <h4>@Model.City.Name</h4>
    </div>

    <div>
        <a href="@Url.Action("DeletePerson", "People", new { id = Model.Id })" class="btn btn-danger btn-xs">Delete</a>
    </div>

</div>


@*foreach (var person in Model.)
{

    <div class="personContainer row">

        <div>
            <h4>@person.PersonId</h4>
        </div>

        <div>
            <h4>@person.Name</h4>
        </div>

        <div>
            <h4>@person.PhoneNr</h4>
        </div>

        <div>
            <h4>@person.City</h4>
        </div>


    </div>
}*@